# Data Cleaning - Remittance Inflows

In [1]:
# Importing libraries
import numpy as np
import pandas as pd

#### Prepare datasets

In [2]:
# Load the inward remittance flows dataset
file_path = 'https://www.knomad.org/sites/default/files/2022-12/inward_remittance_flows_as_of_dec._2_2022_0.xlsx'
inflow = pd.read_excel(file_path, index_col=0)
print(inflow.shape)
# Display the first few rows of the dataset
inflow.head(10)

(226, 34)

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2014,2015,2016,2017,2018,2019,2020,2021,2022e,% of GDP in 2022
Migrant remittance inflows (US$ million),,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,253.367822,348.624717,627.710802,822.731630,803.546454,828.571904,788.917115,300,350.000000,2.058824
Albania,0.00000,0.000000,151.800000,332.000000,307.100000,427.300000,550.900000,300.300000,504.140000,407.200000,...,1421.007454,1290.863508,1306.009167,1311.822432,1458.210056,1472.812242,1465.987212,1718.320554,1800.000000,9.859772
Algeria,352.44176,232.990263,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2452.442617,1997.393458,1989.023597,1791.887073,1984.998399,1785.838683,1699.608935,1759.095247,1829.459057,0.977510
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,21.100000,47.416324,NaN,NaN,NaN
Angola,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,5.142000,0.000000,0.000000,0.000000,...,30.971119,11.114712,3.988048,1.418196,1.579247,3.445473,8.053051,12.631149,16.420494,0.013158
Antigua and Barbuda,9.40000,0.000000,0.000000,7.925926,8.614815,0.000000,8.940741,9.537037,18.755556,18.394444,...,32.100000,31.244412,26.705676,24.020044,32.768265,36.955426,36.331448,50.142028,34.590023,2.044328
Argentina,0.00000,0.000000,15.400000,57.700000,62.400000,63.600000,65.000000,65.700000,68.500000,64.300000,...,505.346892,494.433532,391.579048,479.937460,522.441503,561.398445,651.020616,911.591594,966.287090,0.153209
Armenia,0.00000,0.000000,0.000000,0.200000,11.120000,71.350000,153.730000,228.986400,166.647970,182.652132,...,2078.618315,1491.475903,1382.330887,1538.655752,1487.814908,1527.937457,1327.006085,1610.171649,3350.000000,18.934042
Aruba,0.00000,1.731844,1.731844,2.402235,3.631285,1.340782,1.620112,1.843575,1.620112,0.608939,...,7.465211,8.083713,52.700000,56.140340,36.920295,34.264018,34.98404,35.975635,44.191608,1.262978

In [3]:
# Display the dataset information
inflow.info()

<class 'pandas.core.frame.DataFrame'>
Index: 226 entries, Afghanistan to When using the data, please cite: World Bank-KNOMAD, November 2022.
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   1990              202 non-null    float64
 1   1991              202 non-null    float64
 2   1992              202 non-null    float64
 3   1993              202 non-null    float64
 4   1994              202 non-null    float64
 5   1995              202 non-null    float64
 6   1996              202 non-null    float64
 7   1997              202 non-null    float64
 8   1998              202 non-null    float64
 9   1999              202 non-null    float64
 10  2000              202 non-null    float64
 11  2001              202 non-null    float64
 12  2002              202 non-null    float64
 13  2003              202 non-null    float64
 14  2004              202 non-null    float64
 15  2005              195 non-null    float64
 16  2006              196 non-null    object
 17  2007              196 non-null    object
 18  2008              196 non-null    object
 19  2009              196 non-null    object
 20  2010              196 non-null    float64
 21  2011              196 non-null    float64
 22  2012              196 non-null    float64
 23  2013              196 non-null    float64
 24  2014              196 non-null    float64
 25  2015              196 non-null    float64
 26  2016              196 non-null    float64
 27  2017              196 non-null    float64
 28  2018              196 non-null    float64
 29  2019              197 non-null    float64
 30  2020              197 non-null    object
 31  2021              180 non-null    object
 32  2022e             179 non-null    float64
 33  % of GDP in 2022  172 non-null    float64
dtypes: float64(28), object(6)
memory usage: 61.8+ KB

In [4]:
# replace empty rows with NaN values
inflow.replace('', np.nan, inplace=True)

In [5]:
# Check for missing values
inflow.isna().sum()

1990                24
1991                24
1992                24
1993                24
1994                24
1995                24
1996                24
1997                24
1998                24
1999                24
2000                24
2001                24
2002                24
2003                24
2004                24
2005                31
2006                30
2007                30
2008                30
2009                30
2010                30
2011                30
2012                30
2013                30
2014                30
2015                30
2016                30
2017                30
2018                30
2019                29
2020                29
2021                46
2022e               47
% of GDP in 2022    54
dtype: int64

### Preprocessing the data

In [6]:
# Remove all rows that have missing values
inflow.dropna(inplace=True)

# Selecting country names only
inflow = inflow.iloc[:214, :]
inflow

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2014,2015,2016,2017,2018,2019,2020,2021,2022e,% of GDP in 2022
Migrant remittance inflows (US$ million),,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,253.367822,348.624717,627.710802,822.731630,803.546454,828.571904,788.917115,300,350.000000,2.058824
Albania,0.000000,0.000000,151.800000,332.000000,307.100000,427.300000,550.900000,300.300000,504.140000,407.200000,...,1421.007454,1290.863508,1306.009167,1311.822432,1458.210056,1472.812242,1465.987212,1718.320554,1800.000000,9.859772
Algeria,352.441760,232.990263,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2452.442617,1997.393458,1989.023597,1791.887073,1984.998399,1785.838683,1699.608935,1759.095247,1829.459057,0.977510
Angola,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.142000,0.000000,0.000000,0.000000,...,30.971119,11.114712,3.988048,1.418196,1.579247,3.445473,8.053051,12.631149,16.420494,0.013158
Antigua and Barbuda,9.400000,0.000000,0.000000,7.925926,8.614815,0.000000,8.940741,9.537037,18.755556,18.394444,...,32.100000,31.244412,26.705676,24.020044,32.768265,36.955426,36.331448,50.142028,34.590023,2.044328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vanuatu,6.888202,6.967351,6.813023,4.943892,5.758934,6.128564,0.000000,0.000000,7.780196,9.620369,...,64.091052,104.193107,80.534471,26.177844,35.219416,74.997098,97.953384,169.012066,75.000000,7.621951
Vietnam,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,12000.000000,13000.000000,14000.000000,15000.000000,16000.000000,17000.000000,17200,18060,19000.000000,4.591501
West Bank and Gaza,0.000000,0.000000,0.000000,0.000000,0.000000,582.100000,542.300000,623.300000,1058.245498,1096.285162,...,1804.542445,1817.412109,2086.576176,2378.923437,2833.912788,3152.859814,2559.660846,3393.3649,3495.165847,18.573525
Zambia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,58.300302,47.046538,38.464441,93.644095,106.965626,98.259121,134.864832,241.688413,260.150000,0.962627
Zimbabwe,0.487599,0.282919,0.410772,0.508734,0.599092,0.000000,0.000000,0.000000,0.000000,0.000000,...,1903.970852,2046.579806,1856.034931,1729.883817,1427.703019,1417.011953,1832.039381,1982,2047.406000,5.348501

In [7]:
# Convert string object to float64
inflow = inflow.apply(pd.to_numeric, errors='coerce')

In [8]:
inflow.dtypes

1990                float64
1991                float64
1992                float64
1993                float64
1994                float64
1995                float64
1996                float64
1997                float64
1998                float64
1999                float64
2000                float64
2001                float64
2002                float64
2003                float64
2004                float64
2005                float64
2006                float64
2007                float64
2008                float64
2009                float64
2010                float64
2011                float64
2012                float64
2013                float64
2014                float64
2015                float64
2016                float64
2017                float64
2018                float64
2019                float64
2020                float64
2021                float64
2022e               float64
% of GDP in 2022    float64
dtype: object

In [9]:
# Save the merged file to csv
inflow.to_csv('remittance_inflows_clean.csv', index=True)